<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/tickets.css">
    </head>
    <body>
        <div id="whole">
            <nav>
                <ul>
                    <a href="/">MyTrainingDiary</a>
                    <a href="/About">About</a>
                    <a href="/Contact">Contact</a>
                    <a href="/Accounts">Accounts</a>
                </ul>
                <ul>
                    {{#if account}}
                        <a href="/User/{{account.id}}/ModifyUser">{{account.username}}</a>
                        <a href="/SignOut">Sign Out</a>
                    {{else}}
                        <a href="/Login">Login</a>
                        <a href="/Register">Register</a>
                    {{/if}}
                </ul>
            </nav>
            <main>
                {{{body}}}
            </main>

        	<footer>
			    Copyright © 2019 Kilian Lebrun | <a href="/About">About</a> <a href="/Contact">Contact</a>
		    </footer>
        </div>
    </body>
</html>