<title>Home</title>
<div>
    <table>
        <tr>
            <th style="color: black; font-weight:bold">Username</th>
        </tr>
        {{#each accounts}}
        <tr>
            <td>{{this.username}}<a title="Informations" href="/Account/{{this.id}}"><img src="/img/information.png"></a></td>
        </tr>
        {{/each}}
    </table>
</div>

