<title>{{user.username}}</title>
<h1 style="font-size:50px; text-align:center; color:black ">{{user.username}}'s account</h1><br><br>
<p style="font-size:100px; text-align:center">
    {{#if weight}}
        {{weight.value}}
    {{else}}
        ...
    {{/if}}
</p>
    {{#each activities}}
        <div class='event'>
            <div class='event-side'>
                <div class='dotted-line-separator'><span class='line'></span></div>
                <div class='event-icon'><span class='fa fa-users'></span></div>
                <div class='event-date'>{{this.startDay}}</div>
                <div class='event-time'> {{this.startHour}} <span class='to'>to </span>{{this.endHour}}</div>
                <div class='cut-out'></div>
            </div>
            <div class='event-body'>
            <div class='event-image'><span class='image'><img src="https://upload.wikimedia.org/wikipedia/fr/4/4a/Paris_Saint-Germain_Football_Club_%28logo%29.svg"></div>
            <div class="event-location"></div>
            <div class="event-title"><h3>{{this.name}}</h3><span></span></div>
            <div class="event-details">{{this.description}}</div>
            </div>
        </div>
    {{/each}}

