<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form" action="/login" method="POST">
			<input name="username" type="text" placeholder="Username" required>
			<input name="password" type="password" placeholder="Password" required>
			{{#if errors}}
				<span style="color:red">{{errors}}</span><br><br>
			{{/if}}
			<button type="submit" id="login-button">Login</button>
		</form>

	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>