<div class="wrapper">
	<div class="container">
<script>
var check = function() {
	if (document.getElementById('password').value != document.getElementById('checkPassword').value) {
		document.getElementById('message').style.color = 'red';
		document.getElementById('message').innerHTML = 'Passwords are not matching.';
		document.getElementById('register-button').hidden = true;
	}
	else {
		document.getElementById('message').innerHTML = '';
		document.getElementById('register-button').hidden = false;
	}
}

var modify1Password = function() {
	if (document.getElementById('modifyPassword').checked) {
		document.getElementById('password').type = "password"
		document.getElementById('checkPassword').type = "password"
	} else  {
		document.getElementById('password').type = "hidden"
		document.getElementById('checkPassword').type = "hidden"
		document.getElementById('password').value = ""
		document.getElementById('checkPassword').value = ""
		document.getElementById('message').innerHTML = '';
		document.getElementById('register-button').hidden = false;
	}

}

var rem = function() {
	document.getElementById('error').hidden = true;
}
</script>
		<h1>Modify informations</h1>
		
		<form class="form" action="/User/{{account.id}}/ModifyUser" method="POST">
			<input name="username" type="text" placeholder="Username" onkeypress="rem();" value="{{user.username}}" required>
			{{#if message}}
				<span id="error" style="color:red">{{message}}<br><br></span>
			{{/if}}
			Modify Password ?
			<input type="checkbox" name="modifyPassword" id="modifyPassword" onclick="modify1Password();" >
			<input id="password" name="password" type="hidden" placeholder="Password" onkeyup="check();" >
			<input id="checkPassword" name="checkPassword" type="hidden" placeholder="Password" onkeyup="check();"><span id='message'></span>
			{{#if user.date_of_birth}}
				<input name="date_of_birth" type="date" value="{{user.date_of_birth}}" required>
			{{else}}
				<input name="date_of_birth" type="date" required>
			{{/if}}
			{{#if user.city}}
				<input name="city" type="text" value="{{user.city}}" required>
			{{else}}
				<input name="city" type="text" placeholder="City where you live" required>
			{{/if}}
			<button type="submit" id="register-button">Modify</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
