<script>
	
</script>

<div class="wrapper">
	<div class="container">
		<h1>New Activity</h1>

		<form class="form" action="/User/{{account.id}}/NewActivity" method="POST">
			<input name="name" type="text" placeholder="ex: Football, Gym..." required>
			<a>When did you start ?</a>
			<input id="starttime" name="starttime" type="date" required>
			<a>At what time ?</a>
			<input id="starthour" name="starthour" type="text" required>
			<a id="message"></a>
			<a>When did you stop ?</a>
			<input id="endtime" name="endtime" type="date" required>
			<a>At what time ?</a>
			<input id="endhour" name="endhour" type="text" required>
			<input name="description" type="text" placeholder="Description" required>
			{{#if error}}
				<span style="color:red">{{error}}</span><br><br>
			{{/if}}
			<button id="register-button" type="submit">Add</button>
		</form>

	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<script>

	document.getElementById('starttime').valueAsNumber = Date.now();
	document.getElementById('endtime').valueAsNumber = Date.now();
	document.getElementById('endhour').value = new Date().getHours().toString() +  ":" + new Date().getMinutes().toString();
	var hour = new Date().getHours() - 1
	var minutes = new Date().getMinutes()
	if (minutes >= 0 && minutes < 10)
		document.getElementById('starthour').value = hour.toString() +  ":0" + minutes;
	else
		document.getElementById('starthour').value = hour.toString() +  ":" + minutes;

</script>