<div class="wrapper">
	<div class="container">
		<h1>New Weight</h1>

		<form class="form" action="/User/{{account.id}}/NewWeight" method="POST">
			<input name="value" type="number" placeholder="Your weight" required>
			<input name="date" type="date" required>
			{{#if error}}
				<span style="color:red">{{error}}</span><br><br>
			{{/if}}
			<button type="submit">Add</button>
		</form>

	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>