<div class="wrapper">
	<div class="container">
<script>
var check = function() {
	if (document.getElementById('password').value != document.getElementById('checkPassword').value) {
		document.getElementById('message').style.color = 'red';
		document.getElementById('message').innerHTML = 'Passwords are not matching.';
		document.getElementById('register-button').hidden = true;
	}
	else {
		document.getElementById('message').innerHTML = '';
		document.getElementById('register-button').hidden = false;
	}
}

var rem = function() {
	document.getElementById('error').hidden = true;
}
</script>
		<h1>Welcome</h1>
		
		<form class="form" action="/register" method="POST">
			<input name="username" type="text" placeholder="Username" onkeypress="rem();" required>
			{{#if message}}
				<span id="error" style="color:red">{{message}}<br><br></span>
			{{/if}}
			<input id="password" name="password" type="password" placeholder="Password" onkeyup="check();" >
			<input id="checkPassword" name="checkPassword" type="password" placeholder="Password" onkeyup="check();" required><span id='message'></span>
			{{#if date}}
				<input name="date_of_birth" type="date" value="{{date}}" required>
			{{else}}
				<input name="date_of_birth" type="date" required>
			{{/if}}
			{{#if city}}
				<input name="city" type="text" value="{{city}}" required>
			{{else}}
				<input name="city" type="text" placeholder="City where you live" required>
			{{/if}}
			<button type="submit" id="register-button">Register</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
