<title>{{account.username}}</title>
<p style="font-size:100px; text-align:center">
    {{#if weight}}
        {{weight.value}}
    {{else}}
        ...
    {{/if}}
    <a title="Add new Weight" href="/User/{{account.id}}/NewWeight"><img src="/img/add.png"></a>
    <a title="Display Weights" href="/User/{{account.id}}/Weights"><img src="/img/display.png"></a>
</p>

<div id="crud-activities">
    <a href="/User/{{account.id}}/NewActivity">Add new activity</a>
</div>


    {{#each activities}}
        <div class='event'>
            <div class='event-side'>
                <div class='dotted-line-separator'><span class='line'></span></div>
                <div class='event-icon'><span class='fa fa-users'></span></div>
                <div class='event-date'>{{this.startDay}}</div>
                <div class='event-time'> {{this.startHour}} <span class='to'>to </span>{{this.endHour}}</div>
                <div class='cut-out'></div>
            </div>
            <div class='event-body'>
            <div class='event-image'><span class='image'><img src="https://upload.wikimedia.org/wikipedia/fr/4/4a/Paris_Saint-Germain_Football_Club_%28logo%29.svg"></div>
            <div class="event-location"></div>
            <div class="event-title"><h3>{{this.name}}</h3><span></span></div>
            <div class="event-details">{{this.description}}</div>
            </div>
            <a href="/User/{{this.id}}/ModifyActivity/">Modify</a>
            <a href="/User/{{this.id}}/DeleteActivity">Del</a>
        </div>
    {{/each}}

