<title>Weights</title>
<div>
    <table>
        <tr>
            <th style="color: black; font-weight:bold">Weights</th>
        </tr>
        {{#each weights}}
        <tr>
            <br>
            <td style="font-size: 30px">{{this.value}}<a title="Informations" href="/User/{{this.id}}/DeleteWeight"><img src="/img/delete.png"></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

