#whole{
	max-width: 800px;
	margin: 0 auto;
	border: 3px solid black;
	background-color: silver;
}

header{
	text-align: center;
	font-size: 300%;
	border-bottom: 3px solid black;
}

nav {
	border-bottom: 3px solid black;
}

nav ul{
	display: inline-block;
	margin: 0;
	padding: 7px 5px;
}

nav ul:nth-child(2){
	float: right;
}

nav li{
	display: inline-block;
	border: 1px solid black;
}

nav a{
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 3px  5px;
}

nav li:hover{
	background-color: gray;
}

main{
	border-bottom: 3px solid black;
	padding: 10px;
}

footer{
	text-align: center;
	padding: 8px;
}

footer a{
	color: black;
}